force-app/main/default/flows/Avengers_Deduplication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Erase_Duplicates</name>
        <label>Erase Duplicates</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>AllAvengers</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Iterate_Over_AllAvengers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllAvengers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_AllAvengers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_AllAvengers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_all_records_into_AllAvengers</name>
        <label>Get all records into AllAvengers</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AllAvengers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Avengers_Fly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllAvengers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Avengers_Strength</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_AllAvengers</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Avengers Deduplication {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Avengers Deduplication</label>
    <loops>
        <name>Iterate_Over_AllAvengers</name>
        <label>Iterate Over AllAvengers</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>AllAvengers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Erase_Duplicates</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Avengers_Fly</name>
        <label>Get Avengers - Fly</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_records_into_AllAvengers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Superpower__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Avenger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Avengers_Strength</name>
        <label>Get Avengers - Strength</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Avengers_Fly</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Superpower__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Strength</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Avenger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Avengers_Strength</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllAvengers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Avenger__c</objectType>
    </variables>
</Flow>
