force-app/main/default/flows/High_Profile_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>NewOpportunity</actionName>
        <actionType>quickAction</actionType>
        <faultConnector>
            <targetReference>Create_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Amount</name>
            <value>
                <elementReference>$Record.AnnualRevenue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CloseDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Name</name>
            <value>
                <stringValue>High Profile Customer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StageName</name>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <interviewLabel>High Profile Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>High Profile Accounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_Customer_Priority_on_Contacts</name>
        <label>Populate Customer Priority on Contacts</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>New_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Priority__c</field>
            <value>
                <stringValue>High Profile</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_Customer_Priority_on_Contacts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AnnualRevenue</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>5000000.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>440</locationX>
        <locationY>575</locationY>
        <flowName>Create_Log</flowName>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetName</name>
            <value>
                <stringValue>High Profile Accounts - New Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetType</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
